/*预定义样式*/
@charset "utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,input,select,textarea,td{
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
}
body{
    font-family: "微软雅黑";
    display: -webkit-flex;
    -webkit-flex-direction: column;
}
html {
    font-size: 100px;
}
ul,ol,li{
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    border:0;
    display: block;
}
/*推荐区*/
/*header*/
header {
    height: 0.8rem;
}
.headerBox {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 0.8rem;
    line-height: 0.8rem;
    position: relative;
}
.headerBox>a>img {
    width: 0.8rem;
    height: 0.8rem;
}
.headerBox>div {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    left:50%;
    margin-left: -0.8rem;
}
.headerBox>div>a>img {
    width: 2rem;
    height: 0.8rem;
    line-height: 0.8rem;
}
/*搜索框*/
header div.find {
    width: 100%;
    height: 0.8rem;
    z-index: 999;
    position:absolute;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
#btn011,#btn012 {
    height: 0.5rem;
    z-index:999;
    font-size: 0.3rem;
}
#btn012 {
    height: 0.54rem;
}
/*nav*/
nav {
    /*background-color: whitesmoke;*/
    width: 100%;
    height: 0.4rem;
    display: flex;
    justify-content: center;
    align-items:center;
}
nav a {
    font-size: 0.3rem;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
    flex:1;
    font-family: kaiTi;
    color: black;
}
nav a:hover {
    color: red;
}
nav .a01 {
    /*text-decoration:underline;*/
    color: red;
    /*border-bottom: 1px solid red;*/
}
/*banner*/
.banner{
    width:100%;
    height: 3rem;
    position: relative;
    display: flex;
}
.imgs{
    width: 100%;
    height: 3rem;
}
.imgs img{
    float: left;
    cursor: pointer;
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 3rem;
}
.log{
    position: absolute;
    bottom: 0.05rem;
    right: 0.05rem;
}
.log span{
    float: left;
    width: 0.15rem;
    height: 0.05rem;
    text-align: center;
    line-height: 0.05rem;
    background: orange;
    color: #fff;
    margin-left: 0.1rem;
    cursor:pointer;
}
.log span.current{
    background: red;
}
/*可以左右滑动的箭头*/
/*.btnBox span {*/
/*    width: 0.2rem;*/
/*    heidth:0.2rem;*/
/*    display: inline-block;*/
/*    background-color: whitesmoke;*/
/*    font-size: 0.1rem;*/
/*    font-weight: bolder;*/
/*    text-align: center;*/
/*    line-height: 0.3rem;*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    margin-top: -0.2rem;*/
/*    z-index:3;*/
/*}*/
#left{
    left: 0;
}
#right{
    right: 0;
}
/*show*/
.show {
    margin-top: 0.3rem;
     display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.show a {
    width: 25%;
    text-align: center;
    margin-bottom: 0.4rem;
    font-family: kaiTi;
    font-size: 0.26rem;
}
.show a img {
    display: inline-block;
    height: 1rem;
}
.show .different {
    margin-top: 0.05rem;
}
.show a span {
    display: inline-block;
    width: 100%;
}

/*main*/
.main .main1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 0.2rem;
    flex:1;
    background-color: gainsboro;
    /*border-bottom: 0.01rem solid white;*/
}
.main .main1 span {
    font-size: 0.4rem;
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    font-family: kaiTi;
    text-align: center;
}
.main .main1 a {
    width:49%;
    display: inline-block;
    background-color: white;
    margin-top: 0.1rem;
}
.main .main1 a img {
    width: 100%;
}
.main .main1 a span {
    color:#2e2e2e;
    font-size:0.3rem;
    display: block;
    height:0.5rem;

    line-height: 0.5rem;
}
.main .main1 a p {
    width: 100%;
    text-align: center;
    color: red;
    font-family: kaiTi;
    font-size: 0.4rem;
}
/*二级导航*/
.two-nav {
    /*margin-top: 0.5rem;*/
}
.two-nav .nav-ul {
    display: flex;
    flex-direction: column;
}
.two-nav .nav-ul>li {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    border-radius: 0.05rem;
    margin-bottom: 1px;
}
.two-nav .nav-ul>li>a,.two-nav .nav-ul>li>span {
    font-size: 0.3rem;
    font-family: kaiTi;
    height: 0.5rem;
    line-height: 0.5rem;
}
/*二级导航*/
.ulul>li {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border-radius: 0.05rem;
    margin-bottom: 1px;
}
.two-nav .ulul>li>a,.two-nav .ulul>li>span {
    font-size: 0.3rem;
    font-family: kaiTi;
    height: 0.5rem;
    line-height: 0.5rem;
}
.ulul {
    display: none;
}
/*foot*/
.foot {
    text-align: center;
}
.foot .footBox {
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 0.8rem;
    line-height: 0.8rem;
}
.foot a{
    height: 0.4rem;
    width: 40%;
    line-height: 0.4rem;
    font-size:0.2rem;
    background-color: dodgerblue;
    text-align: center;
    border-radius: 0.15rem;
}
.main-index {
    overflow-y:auto;
}

